[flake8]
max-line-length = 120
extend-ignore = E203, W503, E501, C901, F841, F541
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .env,
    .venv,
    venv,
    future_mass,
    .tox,
    .mypy_cache
per-file-ignores =
    __init__.py:F401
    test_*.py:S101
max-complexity = 50
docstring-convention = google
